body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2{
  font-size: 20px;
}

.section{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  position: relative;
  background-color: #DDD;
  height: auto;
  overflow: hidden;
  text-align:left;
  /* min-height: 100vh; */
  /* added for overflow*/
  text-align: left;
  display: block;
  width: 100%;
}
