/*Webpage Colors*/
@highlight: #8DD7CC;
@base: #303441;
@beverage: #D2EFEB;
@pasta: #F2EEDE;
@dairy: #E8EEF7;
@fruit: #C7EFCF;
@dessert: #CFF0E7;
@other: #ECECEC;
/* General Page Styel*/
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3.5em;
  color: @base;
}

body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

#gicon {
  position: relative;
  width: 65px;
  min-width: 50;
}

#titlebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  h1 {
    padding-left: 25px;
  }
}

hr {
  width: 80%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: @base;
  border: 0 none;
  margin-top: -20px;
  margin-bottom: 10px;
}

#viewGroceries {
  text-align: center;
  width: 100%;
}

input[type=checkbox]:checked +label {
  text-decoration: line-through;
}

input.item_fruit[type=checkbox]:checked +label {
  color: @fruit;

  img.listView {
    opacity: 0.3;
  }
}

input.item_beverage[type=checkbox]:checked +label {
  color: @beverage;

  img.listView {
    opacity: 0.3;
  }
}

input.item_dessert[type=checkbox]:checked +label {
  color: @dessert;

  img.listView {
    opacity: 0.3;
  }
}

input.item_dairy[type=checkbox]:checked +label {
  color: @dairy;

  img.listView {
    opacity: 0.3;
  }
}

input.item_pasta[type=checkbox]:checked +label {
  color: @pasta;

  img.listView {
    opacity: 0.3;
  }
}
#other{
  input[type=checkbox]:checked +label {
    color: @other;
  }
}

/* Category View */
#categoryContainer {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  width: 200px;
  height: auto;
  min-height: 200px;
  min-width: 40%;
  border: 2px solid #000;
  border-radius: 15px;
  text-align: center;
  margin: 15px;
  padding: 2px;
  //flex box settings
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  img {
    width: 40px;
    height: auto;
    padding: 15px 5px 0 0;
  }

  span {
    width: 100%;
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    list-style-position: outside;
  }

  .listView {
    display: none;
  }
}

#fruit {
  border-color: @fruit;
}

#beverage {
  border-color: @beverage;
}

#dessert {
  border-color: @dessert;
}

#dairy {
  border-color: @dairy;
}

#pasta {
  border-color: @pasta;
}

#other {
  display: none;
  border-color: @other;
}
/* List View*/
#list {
  display: none;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 20px;

  span {
    padding-bottom: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: flex-start;
  //  flex-wrap: wrap;
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  img.listView {
    width: 50px;
    padding-left: 10px;
    padding-right: 15px;
  }

  input[type=checkbox] {
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
  }
}
